
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

.display-flex {
    display: flex;
}

.flex-direction-c {
    flex-direction: column;
}

.justify-content-se {
    justify-content: space-evenly;
}

.align-items {
    align-items: center;
}

.button {
    margin-top: 15px;
    height: 50px;
    width: 300px;
    border-radius: 12px;
    cursor: pointer;
}

.main {
    background: linear-gradient(144deg, rgb(0, 1, 73) 0%, rgb(13, 0, 131) 78%, rgb(113, 115, 255) 100%);
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/pomodoro.png'); /* Substitua 'background-image.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5);} /* Ajuste o valor de 'rgba' para controlar a opacidade*/
